<div class="nav-container">
    <app-navbar></app-navbar>
</div>
<section class="container">
    <div>
        <h2 class="title-background-white">Contáctame</h2>
        <div class="line-one"></div>
    </div>
    <div class="row p-sm-2">
        <h6><strong>Si te interesa mi trabajo y quieres ponerte en contacto conmigo, puedes llamar o escribir, como prefieras!!!</strong></h6>
    </div>
    <div class="row">
        <div class="col">
            <a target="_blank" href="https://github.com/gelenmr">
                <div>
                    <div class="icon-git"></div>
                </div>
            </a>
            <a href="tel: +56 959 820 181">
                <div>
                    <div class="icon-phone"></div>
                </div>
            </a>
            <a href="mailto:gelen.montilla.r@gmail.com">
                <div>
                    <div class="icon-gmail"></div>
                </div>
            </a>

            <a target="_blank" href="https://www.linkedin.com/in/gelenmontilla/">
                <div>
                    <div class="icon-linkedin"></div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- <footer id="footer" class="">
    <p class="text-center mt-3">Desarrollado por Gelen Montilla.</p>
</footer> -->
