<div class="nav-container">
    <app-navbar></app-navbar>
</div>
<section class="container">
    <div>
        <h2 class="title-background-white">Sobre Mí</h2>
        <div class="line-one"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="text-justify bg-white fluid">
                <h5><i>"He descubierto en el
                  Desarrollo Web una pasión,
                  que me permite crear,
                  aportar y aprender, que son
                  mis mayores intereses"</i></h5>
            </div>
            <div class="text-center">
                <a routerLink="/projects" routerLinkActive="active">
                    <img width="300" alt="Foto-gelen" src="../../../assets/img/foto-gelenm.png" />
                </a>
            </div>
            <!-- <div class="row">
                <div class="text-center mt-3">
                    <a routerLink="/projects" routerLinkActive="active">
                        <img width="300" alt="Logo-gelen" src="../../../assets/img/DEVELOPER.png" />
                    </a>
                    <a routerLink="/projects" routerLinkActive="active">
                        <img alt="flecha-siguiente" src="../../../assets/img/arrow.png" />
                    </a>
                </div>
            </div> -->
        </div>
        <div class="col-md-6 mt-3">
            <div class="text-justify">
                <p><b> Soy una Desarrolladora Front-End,</b> responsable, comprometida, comunicativa y dispuesta. Me gusta trabajar en equipo, lo cual, es siempre una instancia de aprendizaje y una oportunidad de compartir conocimientos.
                </p>

                <p>Tengo experiencia en docencia y formación; para mí, ser un puente entre las personas y el aprendizaje es una experiencia enriquecedora y motivadora.</p>
                <!-- <a routerLink="/projects" routerLinkActive="active">
                    <img width="300" alt="Foto-gelen" src="../../../assets/img/foto-gelenm.png" />
                </a> -->
            </div>
        </div>
    </div>
</section>
