<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <div class="text-justify">
        <h4>"Si no te esfuerzas hasta el máximo, <br><i>¿cómo sabrás donde está tu límite?".</i></h4>
      </div>
      <div class="row">
        <div class="text-center mt-3">
          <a routerLink="/projects" routerLinkActive="active">
            <img width="300" alt="Logo-gelen" src="../../../assets/img/logoGM3.png" />
          </a>
          <a routerLink="/projects" routerLinkActive="active">
            <img alt="flecha-siguiente" src="../../../assets/img/arrow.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <div class="text-justify">
        <h2>{{ title }}!</h2>
        <a routerLink="/projects" routerLinkActive="active">
          <img width="300" alt="Foto-gelen" src="../../../assets/img/portafolio1.jpeg" />
        </a>
      </div>
    </div>
  </div>
</div>
