<section class="container-overview">
    <div class="text-center" data-aos="fade-up" data-aos-delay="10" data-aos-anchor-placement="top-bottom" data-aos-duration="500">
        <img src="../../../assets/img/logo-gm.png" class="img-fluid animated zoomIn" alt="Logo-gelen-montilla" routerLink="/projects" routerLinkActive="active" />
        <div class="justify-content-center mt-5">
            <h5 class="animated pulse delay-1s">"Si no te esfuerzas hasta el máximo, <br><i>¿cómo sabrás donde está tu límite?".</i></h5>
            <div class="down">
                <a routerLink="/projects" routerLinkActive="active"> <i class="fas fa-angle-right animated delay-1s"></i></a>
            </div>
        </div>
    </div>
</section>
