<div class="container">
  <div class="row">
    <h1>Proyectos!</h1>
  </div>
  <div class="row">
    <div class="col-m-6">
      <a routerLink="/projects" routerLinkActive="active">
        <img class="m-1" width="350" alt="Proyecto_1" src="../../../assets/img/project_1.png" />
      </a>
    </div>
    <div class="col-m-6">
      <a routerLink="/projects" routerLinkActive="active">
        <img class="m-1" width="350" alt="Proyecto_2" src="../../../assets/img/proyect_2.png" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-m-6">
      <a routerLink="/projects" routerLinkActive="active">
        <img class="m-1" width="350" alt="Proyecto_3" src="../../../assets/img/project_3.png" />
      </a>
    </div>
    <div class="col-m-6">
      <a routerLink="/projects" routerLinkActive="active">
        <img class="m-1" width="350" alt="Proyecto_4" src="../../../assets/img/project_4.png" />
      </a>
    </div>
  </div>
</div>

