<div class="nav-container">
    <app-navbar></app-navbar>
</div>

<section class="container">
    <div class="">
        <h2 class="title-background-white">Proyectos</h2>
        <div class="line-one"></div>
    </div>
    <div class=" box row">
        <div class="col-m-6">
            <a routerLink="/projects" routerLinkActive="active">
                <img class="m-1 img-fluid animated zoomIn" width="350" alt="Proyecto_1" src="../../../assets/img/project_1.png" />
            </a>
        </div>
        <div class="col-m-6">
            <a routerLink="/projects" routerLinkActive="active">
                <img class="m-1 img-fluid animated zoomIn" width="350" alt="Proyecto_2" src="../../../assets/img/project_2.png" />
            </a>
        </div>
    </div>
    <div class=" box row">
        <div class="col-m-6">
            <a routerLink="/projects" routerLinkActive="active">
                <img class="m-1 img-fluid animated zoomInUp" width="350" alt="Proyecto_3" src="../../../assets/img/project_3.png" />
            </a>
        </div>
        <div class="col-m-6">
            <a routerLink="/projects" routerLinkActive="active">
                <img class="m-1 img-fluid animated zoomInUp" width="350" alt="Proyecto_4" src="../../../assets/img/project_4.png" />
            </a>
        </div>
    </div>
</section>


<!-- <section id="projects" class="row">
    <div class="containerproject">
        <h3 class="aniview" data-av-animation="bounceInDown">PROYECTOS</h3>
            <div class="card col s12 m6 l6 aniview" data-av-animation="fadeInUp">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/pokechoose.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">PokeChoose<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://faog.github.io/SCL008-data-lovers/src/index.html" target="_blank">DEMO</a>
                    <a href="https://github.com/faog/SCL008-data-lovers" target="_blank">CÓDIGO</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title text-darken-4"><i class="material-icons right">close</i>PokeChoose</span>
                    <p>Trabajo colaborativo que agrupa información de los Pokémon de la región de Kanto, permitiendo al usuario realizar diversos filtros.</p>
                    <p>Para su desarrollo, se hizo consumo de la Api de Pokémon y como lenguaje se usó Javascript y Materialize.</p>
                </div>
            </div>

            <div class="card col s12 m12 l4 aniview" data-av-animation="fadeInUp">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/petcommunity.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Pet Community<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://faog.github.io/SCL008-Social-Network/" target="_blank">DEMO</a>
                    <a href="https://github.com/faog/SCL008-Social-Network" target="_blank">CÓDIGO</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title text-darken-4"><i class="material-icons right">close</i>Pet Community</span>
                    <p>Red social desarrollada de forma colaborativa. Permite que los amantes de los animales puedan encontrar un lugar para compartir información de interes.</p>
                    <p>Disponible para visualizar en formato mobile y para su desarrollo, se usó Javascript, Flexbox y Firebase para realizar la autentificación de usuarios y registro de comentarios.</p>
                </div>
            </div>

            <div class="card col s12 m12 l4 aniview" data-av-animation="fadeInUp">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/mdlinks.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">faog-md-links<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://github.com/faog/SCL008-md-links" target="_blank">CÓDIGO</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title text-darken-4"><i class="material-icons right">close</i>faog-md-links</span>
                    <p>Librería para extraer los enlaces de directorios y/o archivos markdown (.md), validar su status y obtener estadísticas de acuerdo a los enlaces encontrados.</p>
                    <p>Fue desarrollada usando Node.js.</p>
                </div>
            </div>
            <div class="card col s12 m12 l4 aniview" data-av-animation="fadeInUp">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/burgerqueen.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Burger Queen<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://faog.github.io/SCL008-BurgerQueen/" target="_blank">DEMO</a>
                    <a href="https://github.com/faog/SCL008-BurgerQueen" target="_blank">CÓDIGO</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title text-darken-4"><i class="material-icons right">close</i>Burger Queen</span>
                    <p>Aplicación desarrollada para ser usada en Tablet, que permite a los trabajadores de esta cadena de comida almacenar los pedidos de los clientes.</p>
                    <p>Para su implementación, se usó la librería React, Bootstrap y Firebase para almacenar los pedidos realizados.</p>
                </div>
            </div>
            <div class="card col s12 m12 l4 aniview" data-av-animation="fadeInUp">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/pasenoma.png"/>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">PaseNoma!<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://fabytapia.github.io/SCL008-visitors/" target="_blank">DEMO</a>
                    <a href="https://github.com/faog/SCL008-visitors" target="_blank">CÓDIGO</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title text-darken-4"><i class="material-icons right">close</i>PaseNoma!</span>
                    <p>Trabajo colaborativo realizado en 3 días (en la hackathon de cierre de bloque), permitiendo que los visitantes de un lugar puedan realizar su registro; obteniendo un historial de visitas por parte del administrador.</p>
                    <p>Para su implementación se usó Javascript, Bootstrap y Firebase.</p>
                </div>
            </div>
            <div class="card col s12 m6 l6 aniview" data-av-animation="fadeInUp">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/Tiendas.png">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Tiendas en México<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-action">
                  <a href="https://faog.github.io/SCL008_DigitalGeneration/" target="_blank">DEMO</a>
                  <a href="https://github.com/faog/SCL008_DigitalGeneration" target="_blank">CÓDIGO</a>
              </div>
              <div class="card-reveal">
                <span class="card-title text-darken-4"><i class="material-icons right">close</i>Tiendas en México</span>
                <p>Code Challenge que permite visualizar mapa de Google Maps con información de distintas tiendas de México, colocando estos "stores" en forma de markers. Además, es posible realizar otras funcionalidades, como agregar stores a favoritos y eliminarlos de la lista.</p>
                <p>Para su desarrollo; se usó javascript, React, Redux y consumo de la api de Google Maps.</p>
              </div>
          </div>
        </div>
  </section> -->
