<div class="nav-container">
    <app-navbar></app-navbar>
</div>
<!-- <div class="container">
    <div class="row">
        <div>
            <h1>Mis Habilidades!</h1>
            <div class="row justify-content-center">
                <div class="card col-12 col-sm-6 col-md-4 col-lg-4 border-0" *ngFor="let skill of skills">
                    <div class="rounded-top" style="background: #f9f9f9">
                        <img [src]="skill.icon" class="card-img-top img-fluid" [alt]="skill.name">
                    </div>
                    <div class="card-body mb-4 rounded-bottom" style="background: #f9f9f9">
                        <h5 class="card-title">{{skill.name}}</h5>
                        <p class="card-text">{{skill.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="container">

    <h2 class="title-background-white">Mis Habilidades Técnicas</h2>
    <div class="line-one"></div>
    <div class="icons-box row">
        <div class="col-3 icons bounceOutRight"><i class="devicon-javascript-plain colored"></i>
            <p class="skill">JavaScript</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-angularjs-plain colored"></i>
            <p class="skill">Angular</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-typescript-plain colored"></i>
            <p class="skill">Typescript</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-html5-plain-wordmark colored"></i>
            <p class="skill">HTML5</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-css3-plain-wordmark colored"></i>
            <p class="skill">CSS3</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-bootstrap-plain-wordmark colored"></i>
            <p class="skill">Boostrap</p>
        </div>
        <!-- <div class="col-3 icons bounceOutLeft"><i class="devicon-bootstrap-plain-wordmark colored"></i>
            <p class="skill">Material Design</p>
        </div> -->
        <div class="col-3 icons bounceOutRight"><i class="devicon-wordpress-plain-wordmark colored"></i>
            <p class="skill">Wordpress</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicon-nodejs-plain-wordmark colored"></i>
            <p class="skill">NodeJS</p>
        </div>
        <div class="col-3 icons bounceOutLeft"><i class="devicons devicons-npm red"></i>
            <p class="skill">NPM</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-git-plain-wordmark colored"></i>
            <p class="skill">Git</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-github-plain-wordmark colored"></i>
            <p class="skill">Github</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-mocha-plain colored"></i>
            <p class="skill">Mocha</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-mongodb-plain-wordmark colored"></i>
            <p class="skill">MongoDB</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-visualstudio-plain colored"></i>
            <p class="skill">Visual Studio Code</p>
        </div>
        <!-- <div class="col-3 icons bounceOutRight"><i class="devicon-inkscape-plain-wordmark colored"></i>
            <p class="skill">Figma</p>
        </div> -->
        <div class="col-3 icons bounceOutLeft"><i class="devicon-gimp-plain colored"></i>
            <p class="skill">Gimp</p>
        </div>
        <div class="col-3 icons bounceOutRight"><i class="devicon-inkscape-plain-wordmark colored"></i>
            <p class="skill">Inkscape</p>
        </div>

    </div>

</section>
